<h1 class="text-center">New Owner</h1>
<%= render 'form', owner: @owner %>

<br>

<div class="row">
<%= link_to '<i class="fa fa-arrow-left" style="font-size: 2em;"></i>'.html_safe, owners_path, class: "center-block", title: "Back" %>
</div>