<div class="row col-md-offset-3">
  <div class="col-md-6 col-md-offset-3">
   <h1 class="text-center">Edit Store</h1>


<%= render 'form', store: @store %>

<br>

<div class="row">
<%= link_to '<i class="fa fa-arrow-left" style="font-size: 2em;"></i>'.html_safe, stores_path, class: "center-block", title: "Back" %>
</div>