<div class="row col-md-offset-3">
  <div class="col-md-6 col-md-offset-3">
   <h1 class="text-center">New Manager</h1>

<%= render 'form', manager: @manager %>

<br>

<div class="row">
<%= link_to '<i class="fa fa-arrow-left" style="font-size: 2em;"></i>'.html_safe, store_managers_path, class: "center-block", title: "Back" %>
</div>
</div>
</div>