<div class="row col-md-offset-3">
  <div class="col-md-6 col-md-offset-3">
   <h1 class="text-center" style="color: #adb5bd;">Edit Section</h1>


<%= render 'form', section: @section %>

<br>

<div class="row">
<%= link_to '<i class="fa fa-arrow-left" style="font-size: 2em;"></i>'.html_safe, store_sections_path(@section.store), class: "center-block", title: "Back" %>
</div>
</div>
</div>