<h1 class="text-center">New Record</h1>

<%= render 'form', record: @record %>

<br>

<div class="row">
<%= link_to '<i class="fa fa-arrow-left" style="font-size: 2em;"></i>'.html_safe, store_records_path, class: "center-block", title: "Back" %>
</div>
