 <div class="row col-md-offset-3">
  <div class="col-md-6 col-md-offset-3">
   <h1 class="text-center">Editing Item</h1>

<%= render 'form', item: @item %>>
<br>

<div class="row">
<%= link_to '<i class="fa fa-arrow-left" style="font-size: 2em;"></i>'.html_safe, store_section_group_items_path(@item.group), class: "center-block", title: "Back" %>
</div>
</div>
</div>
